<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://devicetrackerweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>devicetrackerweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DeviceTrackerWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DeviceTrackerWeb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nnkjx5guig.database.windows.net,1433;Initial Catalog=DeviceTrackerWeb_db;User ID=yoda@nnkjx5guig;Password=IHateP@ssw0rd" Name="Data Source=tcp:nnkjx5guig.database.windows.net,1433;Initial Catalog=DeviceTrackerWeb_db;User Id=yoda@nnkjx5guig;Password=IHateP@ssw0rd;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DeviceTracker.Web.Models.ApplicationDbContext, DeviceTracker.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nnkjx5guig.database.windows.net,1433;Initial Catalog=DeviceTrackerWeb_db;User Id=yoda@nnkjx5guig;Password=IHateP@ssw0rd;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>